{% extends 'chantier/index.html' %}
{% load static %}
{% block content %}
  <main class="main-content">
    <div class="container-fluid photos">
      <div class="row justify-content-center">
        
        <div class="col-md-6 pt-4">
          <figure class="mb-5" data-aos="fade-up">
            <img src="{% static 'images/profile_picture.jpg' %}" alt="Image" class="img-fluid" width='306px' height='408px'>
          </figure>

          <h2 class="text-white mb-4" data-aos="fade-up">Léo Milliard</h2>

          <div class="row" data-aos="fade-up">
            <div class="col-md-12">
		    <p> Je suis né à Marseille, et y ait passé toute ma scolarité. Peu intéressé par les débouchés d'un Bac ES, je me suis tourné vers l'artisanat et ait passé <strong>un CAP Charpentier bois à Saint-Etienne.</strong></p>
		    <p>Ayant travaillé dans une grande entreprise du bâtiment, j'ai constaté que l'aspect industriel de la charpente (fermettes, ossature bois, etc.) ne me convenait pas. Je me suis donc tourné vers <strong>des méthodes traditionnelles</strong> (Tenon-mortaise, piquage sur vieux bois et bois rond, etc.).</p>
		    <p>J'apprécie l'implication du client dans le chantier aussi bien lors de la conception qu'à la réalisation, créant un échange d'expérience toujours intéressant. Je <strong>privilégie idéalement des essences locales</strong> dans mes réalisations, mais ayant été amené à voyager pour différents chantiers, je constate avec amertume une domination du douglas dans les scieries comme sur mes chantiers.</p>
		    <p>Travaillant au fil des saisons, je suis amené à faire de la charpente aux beaux jours, et certains travaux de menuiserie l'hiver venu (escaliers, table de ferme, etc.) </p>
		    <p><strong>Charpentier itinérant</strong>, j'aime le voyage pour ce qu'il apporte de rencontre et de savoir-faire, mais aussi découvrir les architectures locales, et m'y adapter. </p>
            </div>
          </div>
        </div>

      </div>
      {% endblock %}
  </main>
